In [62]:
import pandas as pd

In [63]:
df_fabrik1 = pd.read_excel("Praxisaufgabe - Fabriken.xlsx", sheet_name="Fabrik 1")
del df_fabrik1["Unnamed: 0"]
df_fabrik1.rename(columns={"Overhead": "Sonstige Kosten"}, inplace=True)  
df_fabrik1

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten
0,2021-09-18,10,27,675,297,378
1,2020-05-01,3,649,14927,649,2596
2,2021-11-15,1,230,5290,230,1150
3,2021-08-04,7,882,17640,882,6174
4,2021-01-08,6,205,3485,410,1025
...,...,...,...,...,...,...
1087,2022-06-12,1,116,1740,232,464
1088,2022-11-20,6,326,5216,652,978
1089,2020-12-24,7,797,14346,797,3985
1090,2022-12-09,8,46,1518,874,460
1091,2022-12-03,9,10,390,130,100

In [73]:
df_fabrik2 = pd.read_excel("Praxisaufgabe - Fabriken.xlsx", sheet_name="Fabrik 2")
df_fabrik2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Energiekosten
1,2021-02-01 00:00:00,7,697,11152,1394,6273
2,2021-05-03 00:00:00,8,62,1116,744,682
3,2020-08-22 00:00:00,3,169,2535,169,1521
4,2022-07-27 00:00:00,4,465,8370,465,3720
...,...,...,...,...,...,...
1438,2021-08-08 00:00:00,5,706,7060,1412,2824
1439,2022-08-14 00:00:00,7,163,2934,163,1304
1440,2022-10-03 00:00:00,6,636,10812,636,4452
1441,2022-11-11 00:00:00,5,625,8125,1250,3750
1442,2022-09-30 00:00:00,8,45,675,1035,495

In [74]:
new_header = df_fabrik2.iloc[0]  # Extrahiere die erste Zeile als Spaltenüberschriften
df_header = df_fabrik2[1:]  # Entferne die erste Zeile aus dem DataFrame
df_header.columns = new_header  # Setze die extrahierten Spaltenüberschriften
df_header

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Energiekosten
1,2021-02-01 00:00:00,7,697,11152,1394,6273
2,2021-05-03 00:00:00,8,62,1116,744,682
3,2020-08-22 00:00:00,3,169,2535,169,1521
4,2022-07-27 00:00:00,4,465,8370,465,3720
5,2022-08-02 00:00:00,10,79,1185,1343,790
...,...,...,...,...,...,...
1438,2021-08-08 00:00:00,5,706,7060,1412,2824
1439,2022-08-14 00:00:00,7,163,2934,163,1304
1440,2022-10-03 00:00:00,6,636,10812,636,4452
1441,2022-11-11 00:00:00,5,625,8125,1250,3750
1442,2022-09-30 00:00:00,8,45,675,1035,495

In [76]:
df_fabrik_2 = df_header
df_fabrik_2.rename(columns={"Energiekosten": "Sonstige Kosten"}, inplace=True)

C:\Users\bbind\AppData\Local\Temp\ipykernel_15564\3829380325.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fabrik_2.rename(columns={"Energiekosten": "Sonstige Kosten"}, inplace=True)

In [77]:
df_fabrik_2

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten
1,2021-02-01 00:00:00,7,697,11152,1394,6273
2,2021-05-03 00:00:00,8,62,1116,744,682
3,2020-08-22 00:00:00,3,169,2535,169,1521
4,2022-07-27 00:00:00,4,465,8370,465,3720
5,2022-08-02 00:00:00,10,79,1185,1343,790
...,...,...,...,...,...,...
1438,2021-08-08 00:00:00,5,706,7060,1412,2824
1439,2022-08-14 00:00:00,7,163,2934,163,1304
1440,2022-10-03 00:00:00,6,636,10812,636,4452
1441,2022-11-11 00:00:00,5,625,8125,1250,3750
1442,2022-09-30 00:00:00,8,45,675,1035,495

In [86]:
# Zusammenführen beider DataFrames

df_fabrik1['Fabrik'] = 'Fabrik 1'
df_fabrik_2['Fabrik'] = 'Fabrik 2'

merged_df = pd.concat([df_fabrik1, df_fabrik_2], ignore_index=True)

merged_df

C:\Users\bbind\AppData\Local\Temp\ipykernel_15564\1771673654.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fabrik_2['Fabrik'] = 'Fabrik 2'

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Fabrik
0,2021-09-18 00:00:00,10,27,675,297,378,Fabrik 1
1,2020-05-01 00:00:00,3,649,14927,649,2596,Fabrik 1
2,2021-11-15 00:00:00,1,230,5290,230,1150,Fabrik 1
3,2021-08-04 00:00:00,7,882,17640,882,6174,Fabrik 1
4,2021-01-08 00:00:00,6,205,3485,410,1025,Fabrik 1
...,...,...,...,...,...,...,...
2529,2021-08-08 00:00:00,5,706,7060,1412,2824,Fabrik 2
2530,2022-08-14 00:00:00,7,163,2934,163,1304,Fabrik 2
2531,2022-10-03 00:00:00,6,636,10812,636,4452,Fabrik 2
2532,2022-11-11 00:00:00,5,625,8125,1250,3750,Fabrik 2
2533,2022-09-30 00:00:00,8,45,675,1035,495,Fabrik 2

In [87]:
merged_df.to_excel("fabrik_merge.xlsx")

In [85]:
merged_df['Produktionsdatum'] = pd.to_datetime(merged_df['Produktionsdatum'])

# Extrahieren von Monat und Jahr aus dem Datum
merged_df['Monat'] = merged_df['Produktionsdatum'].dt.month
merged_df['Jahr'] = merged_df['Produktionsdatum'].dt.year

# Gruppieren nach Produkttyp, Monat und Jahr und die relevanten Spalten summiert
summarized_df = merged_df.groupby(['Produkttyp', 'Monat', 'Jahr', 'Fabrik'], as_index=False)[['Produkttyp', 'Produzierte Einheiten', 'Arbeitskosten', 'Materialkosten', 'Sonstige Kosten']].sum()

summarized_df

,Monat,Jahr,Fabrik,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten
0,1,2020,Fabrik 1,3,1722,33966,2953,6421
1,1,2020,Fabrik 2,4,1512,19893,1792,12913
2,1,2021,Fabrik 1,4,1507,32360,2355,7276
3,1,2021,Fabrik 2,3,1229,16026,1730,6857
4,1,2022,Fabrik 1,5,3066,65574,4187,16978
...,...,...,...,...,...,...,...,...
692,12,2020,Fabrik 2,40,228,4368,3392,3068
693,12,2021,Fabrik 1,10,69,2346,1104,690
694,12,2021,Fabrik 2,40,196,3702,3728,2504
695,12,2022,Fabrik 1,20,118,3031,2138,1504
696,12,2022,Fabrik 2,30,210,4250,2840,2656