In [1]:
import pandas as pd

In [2]:
df_fabriken = pd.read_excel("fabrik_merge.xlsx")
del df_fabriken["Unnamed: 0"]
df_fabriken

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Fabrik
0,2021-09-18,10,27,675,297,378,Fabrik 1
1,2020-05-01,3,649,14927,649,2596,Fabrik 1
2,2021-11-15,1,230,5290,230,1150,Fabrik 1
3,2021-08-04,7,882,17640,882,6174,Fabrik 1
4,2021-01-08,6,205,3485,410,1025,Fabrik 1
...,...,...,...,...,...,...,...
2529,2021-08-08,5,706,7060,1412,2824,Fabrik 2
2530,2022-08-14,7,163,2934,163,1304,Fabrik 2
2531,2022-10-03,6,636,10812,636,4452,Fabrik 2
2532,2022-11-11,5,625,8125,1250,3750,Fabrik 2
2533,2022-09-30,8,45,675,1035,495,Fabrik 2

In [6]:
product_type_info = {
    1: {"name": "Wi-Fi Smelly Socks Detector", "profit_margin": 0.69},
    2: {"name": "Bluetooth Banana Phone", "profit_margin": 0.41},
    3: {"name": "Virtual Reality Nose Hair Trimmer", "profit_margin": 0.51},
    4: {"name": "Robotic Pizza Butler", "profit_margin": 0.46},
    5: {"name": "Selfie Toaster", "profit_margin": 0.41},
    6: {"name": "Electric Toothbrush Karaoke Machine", "profit_margin": 0.07},
    7: {"name": "Solar-Powered Rain Cloud", "profit_margin": 0.88},
    8: {"name": "Quantum Potato Computer", "profit_margin": 0.91},
    9: {"name": "BananaBox", "profit_margin": 0.69},
    10: {"name": "CheeseStation", "profit_margin": 0.97}
}

# Füge die Spalten "Produkttyp Name" und "Zielgewinnspanne" basierend auf dem Produkttyp hinzu
df_fabriken["Produkttyp Name"] = df_fabriken["Produkttyp"].map(lambda x: product_type_info[x]["name"])
df_fabriken["Zielgewinnspanne"] = df_fabriken["Produkttyp"].map(lambda x: product_type_info[x]["profit_margin"])

In [7]:
df_fabriken

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Fabrik,Produkttyp Name,Zielgewinnspanne
0,2021-09-18,10,27,675,297,378,Fabrik 1,CheeseStation,0.97
1,2020-05-01,3,649,14927,649,2596,Fabrik 1,Virtual Reality Nose Hair Trimmer,0.51
2,2021-11-15,1,230,5290,230,1150,Fabrik 1,Wi-Fi Smelly Socks Detector,0.69
3,2021-08-04,7,882,17640,882,6174,Fabrik 1,Solar-Powered Rain Cloud,0.88
4,2021-01-08,6,205,3485,410,1025,Fabrik 1,Electric Toothbrush Karaoke Machine,0.07
...,...,...,...,...,...,...,...,...,...
2529,2021-08-08,5,706,7060,1412,2824,Fabrik 2,Selfie Toaster,0.41
2530,2022-08-14,7,163,2934,163,1304,Fabrik 2,Solar-Powered Rain Cloud,0.88
2531,2022-10-03,6,636,10812,636,4452,Fabrik 2,Electric Toothbrush Karaoke Machine,0.07
2532,2022-11-11,5,625,8125,1250,3750,Fabrik 2,Selfie Toaster,0.41
2533,2022-09-30,8,45,675,1035,495,Fabrik 2,Quantum Potato Computer,0.91

In [8]:
df_fabriken.to_excel("fabriken+.xlsx")

In [19]:
# Konvertiere "Produktionsdatum" in ein DateTime-Format
df_fabriken["Produktionsdatum"] = pd.to_datetime(df_fabriken["Produktionsdatum"])

# Extrahiere Monat und Jahr aus dem "Produktionsdatum"
df_fabriken["Jahr"] = df_fabriken["Produktionsdatum"].dt.strftime("%Y")

# Gruppiere nach Produkttyp und Monat/Jahr und summiere die Werte
summary_df = df_fabriken.groupby(["Produkttyp", "Produkttyp Name", "Jahr", "Zielgewinnspanne"], as_index=False).agg({
    "Produzierte Einheiten": "sum",
    "Arbeitskosten": "sum",
    "Materialkosten": "sum",
    "Sonstige Kosten": "sum"
})

# Ausgabe der zusammengefassten Tabelle
summary_df

,Produkttyp,Produkttyp Name,Jahr,Zielgewinnspanne,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten
0,1,Wi-Fi Smelly Socks Detector,2020,0.69,48156,781214,69643,282548
1,1,Wi-Fi Smelly Socks Detector,2021,0.69,48977,841211,74659,292844
2,1,Wi-Fi Smelly Socks Detector,2022,0.69,49425,820694,70987,298780
3,2,Bluetooth Banana Phone,2020,0.41,40837,656874,63556,257193
4,2,Bluetooth Banana Phone,2021,0.41,39943,648399,58813,247132
5,2,Bluetooth Banana Phone,2022,0.41,39602,634435,61261,249844
6,3,Virtual Reality Nose Hair Trimmer,2020,0.51,43940,725861,63626,269436
7,3,Virtual Reality Nose Hair Trimmer,2021,0.51,49641,856957,72697,278200
8,3,Virtual Reality Nose Hair Trimmer,2022,0.51,50762,860433,80000,294779
9,4,Robotic Pizza Butler,2020,0.46,36351,541722,53277,236238
10,4,Robotic Pizza Butler,2021,0.46,46370,708242,70348,297372
11,4,Robotic Pizza Butler,2022,0.46,56293,923339,82549,358554
12,5,Selfie Toaster,2020,0.41,49174,812902,73799,302319
13,5,Selfie Toaster,2021,0.41,49084,833197,75850,302257
14,5,Selfie Toaster,2022,0.41,45104,740369,66261,253109
15,6,Electric Toothbrush Karaoke Machine,2020,0.07,43211,696609,66455,266362
16,6,Electric Toothbrush Karaoke Machine,2021,0.07,44054,757075,67153,268912
17,6,Electric Toothbrush Karaoke Machine,2022,0.07,40410,673129,65084,248496
18,7,Solar-Powered Rain Cloud,2020,0.88,52565,898737,77267,297852
19,7,Solar-Powered Rain Cloud,2021,0.88,43360,742189,68341,257117
20,7,Solar-Powered Rain Cloud,2022,0.88,40035,654625,55958,262019
21,8,Quantum Potato Computer,2020,0.91,4007,86465,66737,48433
22,8,Quantum Potato Computer,2021,0.91,3795,94798,61704,47350
23,8,Quantum Potato Computer,2022,0.91,4607,107474,77718,55867
24,9,BananaBox,2020,0.69,3897,89477,61804,47471
25,9,BananaBox,2021,0.69,4779,118456,80586,58597
26,9,BananaBox,2022,0.69,4987,119740,82550,61430
27,10,CheeseStation,2020,0.97,3704,83713,57795,45251
28,10,CheeseStation,2021,0.97,4264,100775,70383,53290
29,10,CheeseStation,2022,0.97,4128,98616,66353,49201

In [20]:
summary_df.to_excel("summary_jahr.xlsx")

In [22]:
# Konvertiere "Produktionsdatum" in ein DateTime-Format
df_fabriken["Produktionsdatum"] = pd.to_datetime(df_fabriken["Produktionsdatum"])

# Extrahiere Monat und Jahr aus dem "Produktionsdatum"
df_fabriken["Monat"] = df_fabriken["Produktionsdatum"].dt.strftime("%b")

# Gruppiere nach Produkttyp und Monat/Jahr und summiere die Werte
summary_df = df_fabriken.groupby(["Produkttyp", "Produkttyp Name", "Monat", "Zielgewinnspanne"], as_index=False).agg({
    "Produzierte Einheiten": "sum",
    "Arbeitskosten": "sum",
    "Materialkosten": "sum",
    "Sonstige Kosten": "sum"
})

# Ausgabe der zusammengefassten Tabelle
summary_df

,Produkttyp,Produkttyp Name,Monat,Zielgewinnspanne,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten
0,1,Wi-Fi Smelly Socks Detector,Apr,0.69,11092,196252,15691,64663
1,1,Wi-Fi Smelly Socks Detector,Aug,0.69,9499,157591,15325,55697
2,1,Wi-Fi Smelly Socks Detector,Dec,0.69,12647,214123,17499,75840
3,1,Wi-Fi Smelly Socks Detector,Feb,0.69,11262,191541,17814,62426
4,1,Wi-Fi Smelly Socks Detector,Jan,0.69,13211,226317,18295,82453
...,...,...,...,...,...,...,...,...
115,10,CheeseStation,Mar,0.97,1058,21177,19675,12945
116,10,CheeseStation,May,0.97,1003,26071,14025,11656
117,10,CheeseStation,Nov,0.97,1043,26949,15119,13337
118,10,CheeseStation,Oct,0.97,564,14423,8250,6573
119,10,CheeseStation,Sep,0.97,953,21873,15417,11590

In [23]:
summary_df.to_excel("summary_monat.xlsx")

In [24]:
# Konvertiere "Produktionsdatum" in ein DateTime-Format
df_fabriken["Produktionsdatum"] = pd.to_datetime(df_fabriken["Produktionsdatum"])

# Extrahiere Monat und Jahr aus dem "Produktionsdatum"
df_fabriken["Monat/Jahr"] = df_fabriken["Produktionsdatum"].dt.strftime("%b %Y")

# Gruppiere nach Produkttyp und Monat/Jahr und summiere die Werte
summary_df = df_fabriken.groupby(["Produkttyp", "Produkttyp Name", "Zielgewinnspanne"], as_index=False).agg({
    "Produzierte Einheiten": "sum",
    "Arbeitskosten": "sum",
    "Materialkosten": "sum",
    "Sonstige Kosten": "sum"
})

# Ausgabe der zusammengefassten Tabelle
summary_df

,Produkttyp,Produkttyp Name,Zielgewinnspanne,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten
0,1,Wi-Fi Smelly Socks Detector,0.69,146558,2443119,215289,874172
1,2,Bluetooth Banana Phone,0.41,120382,1939708,183630,754169
2,3,Virtual Reality Nose Hair Trimmer,0.51,144343,2443251,216323,842415
3,4,Robotic Pizza Butler,0.46,139014,2173303,206174,892164
4,5,Selfie Toaster,0.41,143362,2386468,215910,857685
5,6,Electric Toothbrush Karaoke Machine,0.07,127675,2126813,198692,783770
6,7,Solar-Powered Rain Cloud,0.88,135960,2295551,201566,816988
7,8,Quantum Potato Computer,0.91,12409,288737,206159,151650
8,9,BananaBox,0.69,13663,327673,224940,167498
9,10,CheeseStation,0.97,12096,283104,194531,147742

In [25]:
summary_df.to_excel("summary_typen.xlsx")

In [42]:
# Konvertiere "Produktionsdatum" in ein DateTime-Format
df_fabriken["Produktionsdatum"] = pd.to_datetime(df_fabriken["Produktionsdatum"])

# Extrahiere Monat und Jahr aus dem "Produktionsdatum"
df_fabriken["Monat/Jahr"] = df_fabriken["Produktionsdatum"].dt.strftime("%b %Y")

# Gruppiere nach Produkttyp und Monat/Jahr und summiere die Werte
summary_df = df_fabriken.groupby(["Produkttyp", "Produkttyp Name", "Monat/Jahr", "Zielgewinnspanne"], as_index=False).agg({
    "Produzierte Einheiten": "sum",
    "Arbeitskosten": "sum",
    "Materialkosten": "sum",
    "Sonstige Kosten": "sum"
})

# Ausgabe der zusammengefassten Tabelle
summary_df

,Produkttyp,Produkttyp Name,Monat/Jahr,Zielgewinnspanne,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten
0,1,Wi-Fi Smelly Socks Detector,Apr 2020,0.69,5420,108424,6906,26678
1,1,Wi-Fi Smelly Socks Detector,Apr 2021,0.69,1816,25051,3374,14614
2,1,Wi-Fi Smelly Socks Detector,Apr 2022,0.69,3856,62777,5411,23371
3,1,Wi-Fi Smelly Socks Detector,Aug 2020,0.69,3003,52436,3824,19607
4,1,Wi-Fi Smelly Socks Detector,Aug 2021,0.69,3255,53686,5784,22730
...,...,...,...,...,...,...,...,...
355,10,CheeseStation,Oct 2021,0.97,238,6317,3370,2801
356,10,CheeseStation,Oct 2022,0.97,251,6906,3455,2722
357,10,CheeseStation,Sep 2020,0.97,372,8606,5913,4190
358,10,CheeseStation,Sep 2021,0.97,427,9835,6996,5420
359,10,CheeseStation,Sep 2022,0.97,154,3432,2508,1980

In [15]:
summary_df.to_excel("summary.xlsx")

In [28]:
summary_df["Gesamtkosten"] = summary_df["Arbeitskosten"] + summary_df["Materialkosten"] + summary_df["Sonstige Kosten"]
summary_df

,Produkttyp,Produkttyp Name,Zielgewinnspanne,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Gesamtkosten
0,1,Wi-Fi Smelly Socks Detector,0.69,146558,2443119,215289,874172,3532580
1,2,Bluetooth Banana Phone,0.41,120382,1939708,183630,754169,2877507
2,3,Virtual Reality Nose Hair Trimmer,0.51,144343,2443251,216323,842415,3501989
3,4,Robotic Pizza Butler,0.46,139014,2173303,206174,892164,3271641
4,5,Selfie Toaster,0.41,143362,2386468,215910,857685,3460063
5,6,Electric Toothbrush Karaoke Machine,0.07,127675,2126813,198692,783770,3109275
6,7,Solar-Powered Rain Cloud,0.88,135960,2295551,201566,816988,3314105
7,8,Quantum Potato Computer,0.91,12409,288737,206159,151650,646546
8,9,BananaBox,0.69,13663,327673,224940,167498,720111
9,10,CheeseStation,0.97,12096,283104,194531,147742,625377

In [51]:
# Durchschnittliche Kosten pro Einheit berechnen und zur Tabelle hinzufügen
summary_df["Durchschnittliche Kosten pro Einheit"] = summary_df["Gesamtkosten"] / summary_df["Produzierte Einheiten"]
summary_df["Durchschnittliche Kosten pro Einheit"] = summary_df["Durchschnittliche Kosten pro Einheit"].round(2)

summary_df

,Produkttyp,Produkttyp Name,Zielgewinnspanne,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Gesamtkosten,Durchschnittliche Kosten pro Einheit,Erforderlicher Verkaufspreis,Bruttogewinnspanne,Erforderlicher Verkaufspreis (Euro)
0,1,Wi-Fi Smelly Socks Detector,0.69,146558,2443119,215289,874172,3532580,24.10,11395419.35,100.0,11395419.35
1,2,Bluetooth Banana Phone,0.41,120382,1939708,183630,754169,2877507,23.90,4877130.51,100.0,4877130.51
2,3,Virtual Reality Nose Hair Trimmer,0.51,144343,2443251,216323,842415,3501989,24.26,7146916.33,100.0,7146916.33
3,4,Robotic Pizza Butler,0.46,139014,2173303,206174,892164,3271641,23.53,6058594.44,100.0,6058594.44
4,5,Selfie Toaster,0.41,143362,2386468,215910,857685,3460063,24.14,5864513.56,100.0,5864513.56
5,6,Electric Toothbrush Karaoke Machine,0.07,127675,2126813,198692,783770,3109275,24.35,3343306.45,100.0,3343306.45
6,7,Solar-Powered Rain Cloud,0.88,135960,2295551,201566,816988,3314105,24.38,27617541.67,100.0,27617541.67
7,8,Quantum Potato Computer,0.91,12409,288737,206159,151650,646546,52.10,7183844.44,100.0,7183844.44
8,9,BananaBox,0.69,13663,327673,224940,167498,720111,52.71,2322938.71,100.0,2322938.71
9,10,CheeseStation,0.97,12096,283104,194531,147742,625377,51.70,20845900.00,100.0,20845900.00

In [36]:
summary_df.to_excel("summary_ds.xlsx")

In [52]:
# Erforderlicher Verkaufspreis berechnen und zur Tabelle hinzufügen
summary_df["Erforderlicher Verkaufspreis"] = summary_df["Gesamtkosten"] / (1 - summary_df["Zielgewinnspanne"])
summary_df["Erforderlicher Verkaufspreis"] = summary_df["Erforderlicher Verkaufspreis"].round(2)


summary_df

,Produkttyp,Produkttyp Name,Zielgewinnspanne,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Gesamtkosten,Durchschnittliche Kosten pro Einheit,Erforderlicher Verkaufspreis,Bruttogewinnspanne,Erforderlicher Verkaufspreis (Euro)
0,1,Wi-Fi Smelly Socks Detector,0.69,146558,2443119,215289,874172,3532580,24.10,11395419.35,100.0,11395419.35
1,2,Bluetooth Banana Phone,0.41,120382,1939708,183630,754169,2877507,23.90,4877130.51,100.0,4877130.51
2,3,Virtual Reality Nose Hair Trimmer,0.51,144343,2443251,216323,842415,3501989,24.26,7146916.33,100.0,7146916.33
3,4,Robotic Pizza Butler,0.46,139014,2173303,206174,892164,3271641,23.53,6058594.44,100.0,6058594.44
4,5,Selfie Toaster,0.41,143362,2386468,215910,857685,3460063,24.14,5864513.56,100.0,5864513.56
5,6,Electric Toothbrush Karaoke Machine,0.07,127675,2126813,198692,783770,3109275,24.35,3343306.45,100.0,3343306.45
6,7,Solar-Powered Rain Cloud,0.88,135960,2295551,201566,816988,3314105,24.38,27617541.67,100.0,27617541.67
7,8,Quantum Potato Computer,0.91,12409,288737,206159,151650,646546,52.10,7183844.44,100.0,7183844.44
8,9,BananaBox,0.69,13663,327673,224940,167498,720111,52.71,2322938.71,100.0,2322938.71
9,10,CheeseStation,0.97,12096,283104,194531,147742,625377,51.70,20845900.00,100.0,20845900.00

In [37]:
summary_df.to_excel("summary_verkaufspreis.xlsx")

In [49]:
summary_df["Bruttogewinnspanne"] = ((summary_df["Erforderlicher Verkaufspreis"] - summary_df["Durchschnittliche Kosten pro Einheit"]) / summary_df["Erforderlicher Verkaufspreis"]) * 100

# Ergebnisse auf 2 Nachkommastellen formatieren
summary_df["Durchschnittliche Kosten pro Einheit"] = summary_df["Durchschnittliche Kosten pro Einheit"].round(2)
summary_df["Erforderlicher Verkaufspreis"] = summary_df["Erforderlicher Verkaufspreis"].round(2)
summary_df["Bruttogewinnspanne"] = summary_df["Bruttogewinnspanne"].round(2)

summary_df

,Produkttyp,Produkttyp Name,Zielgewinnspanne,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Gesamtkosten,Durchschnittliche Kosten pro Einheit,Erforderlicher Verkaufspreis,Bruttogewinnspanne,Erforderlicher Verkaufspreis (Euro)
0,1,Wi-Fi Smelly Socks Detector,0.69,146558,2443119,215289,874172,3532580,24.10,11395419.35,100.0,11395419.35
1,2,Bluetooth Banana Phone,0.41,120382,1939708,183630,754169,2877507,23.90,4877130.51,100.0,4877130.51
2,3,Virtual Reality Nose Hair Trimmer,0.51,144343,2443251,216323,842415,3501989,24.26,7146916.33,100.0,7146916.33
3,4,Robotic Pizza Butler,0.46,139014,2173303,206174,892164,3271641,23.53,6058594.44,100.0,6058594.44
4,5,Selfie Toaster,0.41,143362,2386468,215910,857685,3460063,24.14,5864513.56,100.0,5864513.56
5,6,Electric Toothbrush Karaoke Machine,0.07,127675,2126813,198692,783770,3109275,24.35,3343306.45,100.0,3343306.45
6,7,Solar-Powered Rain Cloud,0.88,135960,2295551,201566,816988,3314105,24.38,27617541.67,100.0,27617541.67
7,8,Quantum Potato Computer,0.91,12409,288737,206159,151650,646546,52.10,7183844.44,100.0,7183844.44
8,9,BananaBox,0.69,13663,327673,224940,167498,720111,52.71,2322938.71,100.0,2322938.71
9,10,CheeseStation,0.97,12096,283104,194531,147742,625377,51.70,20845900.00,100.0,20845900.00

In [48]:
# Bruttogewinnspanne berechnen und zur Tabelle hinzufügen
summary_df["Bruttogewinnspanne"] = ((summary_df["Erforderlicher Verkaufspreis"] - summary_df["Durchschnittliche Kosten pro Einheit"]) / summary_df["Erforderlicher Verkaufspreis"]) * 100

# Ergebnisse auf 2 Nachkommastellen formatieren
summary_df["Durchschnittliche Kosten pro Einheit"] = summary_df["Durchschnittliche Kosten pro Einheit"].round(2)

summary_df["Bruttogewinnspanne"] = summary_df["Bruttogewinnspanne"].round(2)

summary_df

,Produkttyp,Produkttyp Name,Zielgewinnspanne,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Gesamtkosten,Durchschnittliche Kosten pro Einheit,Erforderlicher Verkaufspreis,Bruttogewinnspanne,Erforderlicher Verkaufspreis (Euro)
0,1,Wi-Fi Smelly Socks Detector,0.69,146558,2443119,215289,874172,3532580,24.10,11395419.35,100.0,11395419.35
1,2,Bluetooth Banana Phone,0.41,120382,1939708,183630,754169,2877507,23.90,4877130.51,100.0,4877130.51
2,3,Virtual Reality Nose Hair Trimmer,0.51,144343,2443251,216323,842415,3501989,24.26,7146916.33,100.0,7146916.33
3,4,Robotic Pizza Butler,0.46,139014,2173303,206174,892164,3271641,23.53,6058594.44,100.0,6058594.44
4,5,Selfie Toaster,0.41,143362,2386468,215910,857685,3460063,24.14,5864513.56,100.0,5864513.56
5,6,Electric Toothbrush Karaoke Machine,0.07,127675,2126813,198692,783770,3109275,24.35,3343306.45,100.0,3343306.45
6,7,Solar-Powered Rain Cloud,0.88,135960,2295551,201566,816988,3314105,24.38,27617541.67,100.0,27617541.67
7,8,Quantum Potato Computer,0.91,12409,288737,206159,151650,646546,52.10,7183844.44,100.0,7183844.44
8,9,BananaBox,0.69,13663,327673,224940,167498,720111,52.71,2322938.71,100.0,2322938.71
9,10,CheeseStation,0.97,12096,283104,194531,147742,625377,51.70,20845900.00,100.0,20845900.00